
<div class="header">

  <div>
    <a href="/"><img class="icon" src="/images/Logos/BitcoinChatt_horizontal-dark-backgrounds.png" alt="Bitcoin chatt" class="logo"></a>
  </div>
  <div id="header-list">
    <h3 class="header-element"><a href="/about">About</a></h3>
    <h3 class="header-element"><a href="/blog">Blog</a></h3>
    <h3 class="header-element"><a href="/join">Join</a></h3>
    <h3 class="header-element"><a href="/contact">Contact</a></h3>
    <h3 class="header-element"><a href="/donate">Donate</a></h3>
  </div>
  <img id="hamburger" src="/images/hamburger.png" onclick="toggleHeaderMenu()">
</div>

<!--{{ partial "menu.html" (dict "menuID" "main" "page" .) }}-->
