<div class="header">
  <div class="header-logo">
    <a href="/">
      <img class="icon" src="/images/Logos/BitcoinChatt_horizontal-dark-backgrounds.png" alt="Bitcoin Chatt">
    </a>
  </div>

  <nav id="header-list">
    <a class="header-element" href="/about">About</a>
    <a class="header-element" href="/subscribe">Subscribe</a>
    <a class="header-element" href="/faq">FAQs</a>
    <a class="header-element" href="/contact">Contact</a>
  </nav>

  <img id="hamburger" src="/images/hamburger.png" alt="Menu" onclick="toggleHeaderMenu()">
</div>

<div class="header-spacer"></div>
