body {
  background-size: 100dvh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-image: url("/images/logos/Bitcoin Chatt Avatar 2.0.png");
}
