body {
  /*discord uses #242429 for the background*/
  /*background-size: 100dvh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-image: url("/images/logos/Bitcoin Chatt Avatar 2.0.png");*/
  background-color: #141419;
  color: #ffffff;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  min-height: 100dvh;
}

header {
  /*border-bottom: 1px solid #222;*/
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

.icon {
  height: 3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-element {
  margin-left: 3rem;
}

.banner {
  /*background-color: rgb(0, 0, 16);*/
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-element {
  height: 20rem;
}

.nav {
  /*TODO: make this adapt to desktop/mobile devices*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-box {
  /*background-color: rgb(0, 0, 24);*/
  /*border: 1px solid #343439;*/
  margin: 3rem 3.5rem;
}

.nav-element {
  height: 10rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-link {
  margin: 0rem 1rem
}

a {
  text-decoration: none;
}

a:link {
  color: #ff9416;
}

a:visited {
  color: #ffce07;
}
