html {
  background-color: #141419;
  scroll-behavior: smooth;
}

body {
  /*discord uses #242429 for the background*/
  /*background-size: 100dvh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-image: url("/images/logos/Bitcoin Chatt Avatar 2.0.png");*/
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  min-height: 100dvh;
  text-align: justify;
}

.header {
  /*border-bottom: 1px solid #222;*/
  padding: 0.5rem;
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  background-color: #141419;
}

/*footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}*/

h1 {
  display: block;
}

h1, h3 {
  margin: 0rem;
}

.align-left {
  text-align: left;
}

p {
  margin-top: 0rem;
}

img {
  margin: 0rem 1rem;
}

time {
  display: block;
  text-align: center;
}

iframe, form, input, textarea, button, #map {
  display: block;
  margin: 0rem auto;
  max-width: 95dvw;
}

#map {
  width: 70%;
  padding-bottom: 39.375%;
}

.icon {
  height: 3rem;
}

.header {
  display: flex;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-element {
  display: inline-block;
  margin-left: 3rem;
  padding: 0rem;
  height: 3rem;
}

#hamburger {
  display: none;
}

.banner {
  /*background-color: rgb(0, 0, 16);*/
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-element {
  height: 20rem;
}

.article {
  padding: 0rem 30rem;
}

.table-of-contents {
  padding: 0rem 36rem;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.video-item {
  width: 350px;
  box-sizing: border-box;
}

.video-item p {
  margin: 10px 0 0 0;
  text-align: center;
}

.video-item img {
  display: block;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-item {
  width: 30%;
  box-sizing: border-box;

  padding: 1rem;

  border-width: 4px;
  border-color: #FF9900;
  border-style: solid;
  border-radius: 20px;
}

.blog-item h1 h2 h3 h4 h5 h6 p {
  margin: 10px 0 0 0;
  text-align: center;
}

.blog-item img {
  display: flex;
  max-width: 100%;
  margin: 0;
}

.tight-margin {
  text-align: left;
  padding: 0rem 39rem;
}

.tighter-margin {
  text-align: left;
  padding: 0rem 42rem;
}

.mobile-icon {
  width: 5dvw;
  float: right;
}

.article-banner {
  width: 25dvw;
  margin: 0 auto;
  display: block;
}

form {
  text-align: center;
}

.form-button, .form-control {
  width: 40dvw;
  min-height: 4dvh;
  border-radius: 8px;
  margin: 1rem auto;
  font-size: 0.9rem;
  font-family: inherit;
}

.nav {
  /*TODO: make this adapt to desktop/mobile devices*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-box {
  /*background-color: rgb(0, 0, 24);*/
  /*border: 1px solid #343439;*/
  width: 17rem;
  margin: 3rem 0rem;
}

.nav-element {
  height: 10rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-link {
  margin: 0rem 1rem
}

#calendar-widget {
  min-width: 70%;
  max-width: 100%;
  height: 800px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ff9416;
}

a:visited {
  color: #ffce07;
}

@media only screen and (max-device-width: 1440px)
{
  .icon {
    height: 3rem;
  }

  .header {
    display: grid;
    grid-template-columns: 15rem 6rem;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
    justify-items: left;
    height: 3.5rem;
    /*position: relative;*/
    z-index: 1;
  }

  #header-list {
    display: none;
    background-color: black;
    justify-content: right;
    justify-self: right;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
  }

  .header-element {
    display: block;
    margin: 0.5rem 1rem;
  }

  #hamburger {
    display: flex;
    height: 3rem;
    justify-self: right;
  }

  #map {
    width: 90dvw;
    height: 60dvh;
    padding-bottom: 0%;
  }

  .desktop-only {
    display: none;
  }

  .article {
    display: block;
    padding: 0rem 0rem;
  }

  .article img :not(.mobile-icon) {
    width: 85dvw !important;
  }

  .table-of-contents {
    padding: 0rem;
  }
  
  .tight-margin {
    padding: 0rem;
  }
  
  .tighter-margin {
    padding: 0rem;
  }

  .mobile-icon {
    float: none;
    display: block;
    margin: 0rem auto;
    width: 25%;
  }

  .article-banner {
    width: 90dvw;
  }

  .mobile-banner {
    width: 95dvw !important;
    margin: 0 auto;
    display: block;
  }

  #calendar-widget {
    /*position: absolute;
    top: 0rem;*/
    height: 70dvh;
  }

  .form-button, .form-control {
    width: 90dvw;
    min-height: 4dvh;
    border-radius: 8px;
    margin: 1rem auto;
  }

  .nav {
    display: grid;
  }
}
